


<p>Enter either rock, paper or scissors onto the end of the URL.</p>

<p>Each one beats one and loses to another.</p>

<p>The game will responding randomly and a winner will be chosen.</p>

<div id='menu'>

</div>
